<div class="analytics-payments-tab">
    <div class="row g-4">
        <div class="col-lg-4">
            <div class="analytics-card analytics-card-highlight">
                <h5>Outstanding Receivables <span class="analytics-info-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Total amount customers still owe for completed sales.">ⓘ</span></h5>
                <div id="payments-outstanding-receivables" class="analytics-value"></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="analytics-card analytics-card-highlight">
                <h5>Partial Sales <span class="analytics-info-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Number of sales with partial payments received.">ⓘ</span></h5>
                <div id="payments-partial-sales" class="analytics-value"></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="analytics-card analytics-card-highlight">
                <h5>Unpaid Sales <span class="analytics-info-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Sales orders with zero payment received during the period.">ⓘ</span></h5>
                <div id="payments-unpaid-sales" class="analytics-value"></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="analytics-card analytics-card-highlight">
                <h5>Outstanding Payables <span class="analytics-info-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Total amount still owed to vendors and suppliers.">ⓘ</span></h5>
                <div id="payments-outstanding-payables" class="analytics-value"></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="analytics-card analytics-card-highlight">
                <h5>Partial Purchases <span class="analytics-info-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Purchases with partial payments made toward delivery costs.">ⓘ</span></h5>
                <div id="payments-partial-purchases" class="analytics-value"></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="analytics-card analytics-card-highlight">
                <h5>Unpaid Purchases <span class="analytics-info-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Purchase orders with no payment recorded yet.">ⓘ</span></h5>
                <div id="payments-unpaid-purchases" class="analytics-value"></div>
            </div>
        </div>
    </div>
</div>
